<div class="row">

  <div class="col-lg-4">
    <h3>{{title}}</h3>
    <div class="list-group">

      <a [routerLinkActive]="['active']" [routerLink]="['listado']" class="list-group-item list-group-item-action">Listado</a>
      <a [routerLinkActive]="['active']" [routerLink]="['crear']" class="list-group-item list-group-item-action">Crear</a>
      <a [routerLinkActive]="['active']" [routerLink]="['editar']" class="list-group-item list-group-item-action">Editar</a>

    </div>
  </div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
