<h1>{{title}}</h1>
<div class="jumbotron">
  <h1 class="display-4">WELCOME TO ZOO</h1>
  <p class="lead">Tendras una de las Mejores Experiancias con los Animales mas Salvajes del planeta</p>
  <hr class="my-4">
  <p>Tenemos mas de 1500 especies para disfrutarlo</p>
  <div class="lead">
      <a class="btn btn-success btn-lg" [routerLink]="['/animales']" role="button">Ver Animales</a>
      <a class="btn btn-primary btn-lg" [routerLink]="['/tienda']" role="button">Ver Tienda</a>
      <a class="btn btn-danger btn-lg" [routerLink]="['/contacto']" role="button">Contacto </a>
  </div>
</div>
<app-main-email></app-main-email>
