<h4>Utilizar jquery dentro de angular</h4>
<button id="botonjq">Mostrar texto</button>
<p id="textojq" class="hidden alert alert-warning">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
</p>


<hr>
componente Padre:
<h1>{{titulo}}</h1>
<ul>
  <li>Camiseta Rosa</li>
  <li> Gorra Negra</li>
</ul>
<hr>
<p>
  nombre del parque:
  <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()">
</p>
Resultado:{{nombreDelParque}}

<!-- ejemplo de emitirEvento mostrar datos en el padre -->
<div *ngIf="miParque">
  <h4>Datos de mi parque  desde el Hijo</h4>
  <ol>
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
  </ol>
</div>
<!-- final de emitirEvento -->


<hr>
<!-- este ejemplo proviene del ngOnchanges , simplechange -->
<app-parques [nombre]="'Nombre por defecto'"
[metros_cuadrados]="444"
(pasameLosDatos)="verDatosParque($event)">
</app-parques>
<!-- Final Onchenges -->
<br><br>
<!-- ejemplo del output e input--->
<p *ngIf="nombreDelParque">
  componente Hijo:
  <app-parques [nombre]="nombreDelParque"
   [metros_cuadrados]="555"
   (pasameLosDatos)="verDatosParque($event)">
 </app-parques>
</p>
<hr>
