<h2>{{nombre}}</h2>
<ol>
  <li>Metros:{{metros}}</li>
  <li>Vegetacion: {{vegetacion}}</li>
  <li>
    <span *ngIf="abierto == true">Abierto</span>
    <span *ngIf="abierto != true">Cerrado</span>
  </li>
</ol>
<!-- el boton para mostrar datos en el padre -->
<button (click)="emitirEvento()">Mostrar en el padre</button>
