<h3>{{title}}</h3>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <textarea type="text" class="form-control" id="formGroupExampleInput" placeholder="Descripcion">
    </textarea>
  </div>
  <div class="form-group">
    <label for="anio">Año</label>
    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="00">
  </div>

    <input type="submit" value="Crear Nuevo" class="btn btn-success">
</form>
